@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Rubik";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Rubik";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 62.25rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.btn {
  font-family: "Raleway";
  width: 130px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  letter-spacing: 0.14em;
  font-weight: 800;
  font-size: 10px;
  line-height: 120%;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  text-transform: uppercase;
}

.title {
  font-weight: 700;
  font-size: 44px;
  line-height: 126%;
}

@supports (font-size: clamp( 1.75rem , 1.2967422096rem  +  2.2662889518vw , 2.75rem )) {
  .title {
    font-size: clamp( 1.75rem , 1.2967422096rem  +  2.2662889518vw , 2.75rem );
  }
}

@supports not (font-size: clamp( 1.75rem , 1.2967422096rem  +  2.2662889518vw , 2.75rem )) {
  .title {
    font-size: calc(1.75rem + 1 * (100vw - 20rem) / 44.125);
  }
}

.title._blue span {
  color: #4285F4;
}

.title._red span {
  color: #EC5863;
}

.header__content {
  position: absolute;
  min-height: 114px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 140px minmax(auto, 726px) 150px;
      grid-template: 1fr/140px minmax(auto, 726px) 150px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__content::after {
  content: "";
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  opacity: 0;
  z-index: 4;
  position: fixed;
  background-color: rgb(255, 255, 255);
  width: 100%;
  -webkit-box-shadow: 1px 1px 15px rgba(252, 3, 3, 0.61);
          box-shadow: 1px 1px 15px rgba(252, 3, 3, 0.61);
  display: block;
  left: 0;
  top: 0;
}

@supports (height: clamp( 5.625rem , 4.9451133144rem  +  3.3994334278vw , 7.125rem )) {
  .header__content::after {
    height: clamp( 5.625rem , 4.9451133144rem  +  3.3994334278vw , 7.125rem );
  }
}

@supports not (height: clamp( 5.625rem , 4.9451133144rem  +  3.3994334278vw , 7.125rem )) {
  .header__content::after {
    height: calc(5.625rem + 1.5 * (100vw - 20rem) / 44.125);
  }
}

@supports (min-height: clamp( 5.625rem , 4.9451133144rem  +  3.3994334278vw , 7.125rem )) {
  .header__content {
    min-height: clamp( 5.625rem , 4.9451133144rem  +  3.3994334278vw , 7.125rem );
  }
}

@supports not (min-height: clamp( 5.625rem , 4.9451133144rem  +  3.3994334278vw , 7.125rem )) {
  .header__content {
    min-height: calc(5.625rem + 1.5 * (100vw - 20rem) / 44.125);
  }
}

.header__logo {
  z-index: 5;
  margin: 0px 5px 0px 0px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.header__logo-text span {
  color: #EC5863;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.header__button {
  z-index: 5;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  background-color: #4285F4;
}

.menu__icon {
  margin: 0px 15px 0px 0px;
}

.menu__body {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.menu__item {
  z-index: 2;
  padding: 8px;
  border-radius: 20px;
}

.menu__link {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  font-family: "Raleway";
  font-weight: 700;
}

.menu-open .header__content::after {
  content: "";
  opacity: 1;
}

.menu-open .menu__body {
  overflow: auto;
  position: fixed;
  z-index: 4;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(0%, 0%);
      -ms-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  background-color: #4285F4;
  top: 0;
  left: 0;
  padding: 120px 50px 0;
}

.menu-open .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu-open .menu__list li:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.menu-open .menu__link {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 120%;
  letter-spacing: 0.14em;
}

.icon-menu {
  display: none;
}

.page__health {
  padding: 164px 0px 50px 0px;
  position: relative;
  height: 100vh;
  min-height: 700px;
}

.page__value {
  background: #FAFBFD;
}

.page__experts {
  background: #FAFBFD;
}

.health__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.health__image {
  z-index: 2;
  position: relative;
  width: 547px;
  height: 395px;
}

.health__image img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.health__body {
  background-color: #fff;
  border-radius: 30px;
  padding: 15px 10px 0 0;
  z-index: 2;
  margin: 61px 0px 0px 0px;
  max-width: 500px;
}

.health__title {
  margin: 0px 0px 12px 0px;
}

.health__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 138.5%;
  letter-spacing: 0.08em;
  color: #616161;
  margin: 0px 0px 24px 0px;
}

.health__button {
  margin: 0px 0px 150px 0px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  background-color: #EC5863;
}

.health__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.health__image-video {
  position: relative;
  width: 44px;
  height: 44px;
  margin: 0px 12px 0px 0px;
}

.health__image-video img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.health__text-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.health__sub-title {
  font-size: 13px;
  line-height: 126%;
  letter-spacing: 0.08em;
  color: #B0B0B0;
}

.health__label {
  font-size: 9px;
  line-height: 126%;
  /* or 11px */
  letter-spacing: 0.165em;
  text-transform: uppercase;
}

.health__decoration::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 25.67%;
  top: 0;
  border-radius: 30px 0px 0px 30px;
  right: 0px;
  background-color: #EC5863;
  display: block;
}

@supports (padding-top: clamp( 3.125rem , 0.7170679887rem  +  12.0396600567vw , 8.4375rem )) {
  .safe__container {
    padding-top: clamp( 3.125rem , 0.7170679887rem  +  12.0396600567vw , 8.4375rem );
  }
}

@supports not (padding-top: clamp( 3.125rem , 0.7170679887rem  +  12.0396600567vw , 8.4375rem )) {
  .safe__container {
    padding-top: calc(3.125rem + 5.3125 * (100vw - 20rem) / 44.125);
  }
}

@supports (padding-bottom: clamp( 3.75rem , 2.4468838527rem  +  6.5155807365vw , 6.625rem )) {
  .safe__container {
    padding-bottom: clamp( 3.75rem , 2.4468838527rem  +  6.5155807365vw , 6.625rem );
  }
}

@supports not (padding-bottom: clamp( 3.75rem , 2.4468838527rem  +  6.5155807365vw , 6.625rem )) {
  .safe__container {
    padding-bottom: calc(3.75rem + 2.875 * (100vw - 20rem) / 44.125);
  }
}

.safe__content {
  -webkit-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.safe__body {
  margin: 0px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.safe__title {
  margin: 0px 0px 12px 0px;
}

.safe__text {
  margin: 0px 0px 24px 0px;
  font-size: 12px;
  line-height: 138.5%;
  letter-spacing: 0.08em;
  color: #616161;
}

.safe__button {
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  background-color: #EC5863;
}

.safe__image-safe-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

@supports (margin-left: clamp( 0.0000000625rem , -3.0594899942rem  +  15.2974502833vw , 6.75rem )) {
  .safe__image-safe-block {
    margin-left: clamp( 0.0000000625rem , -3.0594899942rem  +  15.2974502833vw , 6.75rem );
  }
}

@supports not (margin-left: clamp( 0.0000000625rem , -3.0594899942rem  +  15.2974502833vw , 6.75rem )) {
  .safe__image-safe-block {
    margin-left: calc(0.0000000625rem + 6.7499999375 * (100vw - 20rem) / 44.125);
  }
}

@supports (margin-right: clamp( 0.0000000625rem , -3.0594899942rem  +  15.2974502833vw , 6.75rem )) {
  .safe__image-safe-block {
    margin-right: clamp( 0.0000000625rem , -3.0594899942rem  +  15.2974502833vw , 6.75rem );
  }
}

@supports not (margin-right: clamp( 0.0000000625rem , -3.0594899942rem  +  15.2974502833vw , 6.75rem )) {
  .safe__image-safe-block {
    margin-right: calc(0.0000000625rem + 6.7499999375 * (100vw - 20rem) / 44.125);
  }
}

.image-safe-block__image-phone {
  position: relative;
  height: 459px;
  width: 229px;
  border-radius: 16px;
}

.image-safe-block__image-phone img {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.image-safe-block__decoration-1::before {
  content: "";
  background-color: #EC5863;
  width: 147px;
  height: 147px;
  position: absolute;
  display: block;
  top: -56px;
  left: -71px;
  border-radius: 30px;
}

.image-safe-block__decoration-2::before {
  content: "";
  background-color: #EC5863;
  width: 77px;
  height: 77px;
  position: absolute;
  display: block;
  bottom: -27px;
  left: -39px;
  border-radius: 30px;
}

.image-safe-block__decoration-3::before {
  content: "";
  background-color: #EC5863;
  width: 77px;
  height: 77px;
  position: absolute;
  display: block;
  bottom: 80px;
  right: -38px;
  border-radius: 30px;
}

.image-safe-block__decoration-4::before {
  content: "";
  background: rgba(240, 240, 240, 0.562);
  width: 206px;
  height: 27px;
  position: absolute;
  display: block;
  bottom: -12px;
  border-radius: 30px;
  left: 11px;
}

.value__container {
  -webkit-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
  -webkit-transform: translate(0px, 150px);
      -ms-transform: translate(0px, 150px);
          transform: translate(0px, 150px);
}

@supports (padding-top: clamp( 3.125rem , 1.6235835694rem  +  7.507082153vw , 6.4375rem )) {
  .value__container {
    padding-top: clamp( 3.125rem , 1.6235835694rem  +  7.507082153vw , 6.4375rem );
  }
}

@supports not (padding-top: clamp( 3.125rem , 1.6235835694rem  +  7.507082153vw , 6.4375rem )) {
  .value__container {
    padding-top: calc(3.125rem + 3.3125 * (100vw - 20rem) / 44.125);
  }
}

@supports (padding-bottom: clamp( 2.5rem , 1.3668555241rem  +  5.6657223796vw , 5rem )) {
  .value__container {
    padding-bottom: clamp( 2.5rem , 1.3668555241rem  +  5.6657223796vw , 5rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.3668555241rem  +  5.6657223796vw , 5rem )) {
  .value__container {
    padding-bottom: calc(2.5rem + 2.5 * (100vw - 20rem) / 44.125);
  }
}

.value__container._watcher-view {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.value__content {
  position: relative;
  max-width: 650px;
  z-index: 2;
  margin: 0 auto;
}

.value__body {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 28px 80px;
  width: 100%;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
          box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
  border-radius: 16px;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  row-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.value__users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.value__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.14em;
  color: #EC5863;
}

.value__text {
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.37em;
  text-transform: uppercase;
}

.value__countries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.value__experts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.value__decoration-1::before {
  content: "";
  background-color: #EC5863;
  width: 97px;
  height: 97px;
  position: absolute;
  display: block;
  top: -51px;
  left: 210px;
  -webkit-transform: rotate(105deg);
      -ms-transform: rotate(105deg);
          transform: rotate(105deg);
  border-radius: 30px;
}

.value__decoration-2::before {
  content: "";
  background-color: #EC5863;
  width: 65px;
  height: 65px;
  position: absolute;
  display: block;
  bottom: -22px;
  left: -21px;
  border-radius: 16px;
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.value__decoration-3::before {
  content: "";
  background-color: #EC5863;
  width: 128px;
  height: 128px;
  position: absolute;
  display: block;
  bottom: -15px;
  right: -35px;
  border-radius: 30px;
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

@supports (padding-bottom: clamp( 2.5rem , 0.3470254958rem  +  10.7648725212vw , 7.25rem )) {
  .experts__container {
    padding-bottom: clamp( 2.5rem , 0.3470254958rem  +  10.7648725212vw , 7.25rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 0.3470254958rem  +  10.7648725212vw , 7.25rem )) {
  .experts__container {
    padding-bottom: calc(2.5rem + 4.75 * (100vw - 20rem) / 44.125);
  }
}

.experts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
  -webkit-transform: translate(300px, 0px);
      -ms-transform: translate(300px, 0px);
          transform: translate(300px, 0px);
}

.experts__content._watcher-view {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.experts__body {
  margin: 51px 0px 0px 23px;
  max-width: 393px;
}

.experts__title {
  margin: 0px 0px 12px 0px;
}

.experts__text {
  font-size: 12px;
  line-height: 138.5%;
  letter-spacing: 0.08em;
  color: #616161;
  margin: 0px 0px 24px 0px;
}

.experts__button {
  background-color: #EC5863;
}

.experts__video {
  position: relative;
  width: 52.41%;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  height: 284px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
          box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
  border-radius: 8px;
  margin: 0px auto;
}

.experts__video-image {
  position: relative;
  width: 333px;
  height: 235px;
}

.experts__video-image img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
}

.healthcare__container {
  -webkit-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
  -webkit-transform: translate(0px, 100px);
      -ms-transform: translate(0px, 100px);
          transform: translate(0px, 100px);
}

.healthcare__container._watcher-view {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.healthcare__title {
  margin: 0px 0px 14px 0px;
  text-align: center;
}

@supports (margin-top: clamp( 1.875rem , 0.4585694051rem  +  7.0821529745vw , 5rem )) {
  .healthcare__title {
    margin-top: clamp( 1.875rem , 0.4585694051rem  +  7.0821529745vw , 5rem );
  }
}

@supports not (margin-top: clamp( 1.875rem , 0.4585694051rem  +  7.0821529745vw , 5rem )) {
  .healthcare__title {
    margin-top: calc(1.875rem + 3.125 * (100vw - 20rem) / 44.125);
  }
}

.healthcare__text {
  text-align: center;
  max-width: 600px;
  margin: 0px auto 47px;
}

.healthcare__healthcare-cards {
  position: relative;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 279px));
  -webkit-column-gap: 72px;
     -moz-column-gap: 72px;
          column-gap: 72px;
  row-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@supports (margin-bottom: clamp( 0.0000000625rem , -1.983002742rem  +  9.9150140227vw , 4.375rem )) {
  .healthcare__healthcare-cards {
    margin-bottom: clamp( 0.0000000625rem , -1.983002742rem  +  9.9150140227vw , 4.375rem );
  }
}

@supports not (margin-bottom: clamp( 0.0000000625rem , -1.983002742rem  +  9.9150140227vw , 4.375rem )) {
  .healthcare__healthcare-cards {
    margin-bottom: calc(0.0000000625rem + 4.3749999375 * (100vw - 20rem) / 44.125);
  }
}

.healthcare__healthcare-card {
  opacity: 0;
  z-index: 2;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
          box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
  border-radius: 8px;
  padding: 37px 17px;
  text-align: center;
}

.healthcare__healthcare-card:nth-child(1) {
  -webkit-transition: opacity 1s ease 0.1s;
  -o-transition: opacity 1s ease 0.1s;
  transition: opacity 1s ease 0.1s;
}

.healthcare__healthcare-card:nth-child(2) {
  -webkit-transition: opacity 1s ease 0.4s;
  -o-transition: opacity 1s ease 0.4s;
  transition: opacity 1s ease 0.4s;
}

.healthcare__healthcare-card:nth-child(3) {
  -webkit-transition: opacity 1s ease 0.7s;
  -o-transition: opacity 1s ease 0.7s;
  transition: opacity 1s ease 0.7s;
}

.healthcare__healthcare-card._watcher-view {
  opacity: 1;
}

.healthcare__decoration-1::before {
  content: "";
  background-color: #EC5863;
  width: 97px;
  height: 97px;
  position: absolute;
  display: block;
  top: 31px;
  left: 240px;
  -webkit-transform: rotate(105deg);
      -ms-transform: rotate(105deg);
          transform: rotate(105deg);
  border-radius: 30px;
}

.healthcare__decoration-2::before {
  content: "";
  background-color: #EC5863;
  width: 65px;
  height: 65px;
  position: absolute;
  display: block;
  bottom: 10px;
  left: -15px;
  border-radius: 16px;
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.healthcare__decoration-3::before {
  content: "";
  background-color: #EC5863;
  width: 128px;
  height: 128px;
  position: absolute;
  display: block;
  bottom: 15px;
  right: 275px;
  border-radius: 30px;
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.healthcare__decoration-4::before {
  content: "";
  background-color: #EC5863;
  width: 66px;
  height: 66px;
  position: absolute;
  display: block;
  top: -30px;
  right: -8px;
  border-radius: 16px;
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.healthcare__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 57px;
     -moz-column-gap: 57px;
          column-gap: 57px;
  row-gap: 30px;
  margin: 0px 0px 47px 0px;
  -webkit-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
  -webkit-transform: translate(0, 100px);
      -ms-transform: translate(0, 100px);
          transform: translate(0, 100px);
}

.healthcare__links._watcher-view {
  -webkit-transform: translate(0, 0px);
      -ms-transform: translate(0, 0px);
          transform: translate(0, 0px);
}

.healthcare__google {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.healthcare__app-store {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.healthcare-card__image {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  display: block;
  margin: 0px 0px 58px 0px;
}

.healthcare-card__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 138.5%;
  text-align: center;
  letter-spacing: 0.08em;
  margin: 0px 0px 4px 0px;
}

.healthcare-card__text {
  font-size: 12px;
  line-height: 138.5%;
  text-align: center;
  letter-spacing: 0.08em;
  color: #616161;
}

@media (min-width: 47.99875em) {
@supports (margin-right: clamp( -1.875rem , -5.5577195467rem  +  18.4135977337vw , 6.25rem )) {
    .header__menu {
      margin-right: clamp( -1.875rem , -5.5577195467rem  +  18.4135977337vw , 6.25rem );
    }
}

@supports not (margin-right: clamp( -1.875rem , -5.5577195467rem  +  18.4135977337vw , 6.25rem )) {
    .header__menu {
      margin-right: calc(-1.875rem + 8.125 * (100vw - 20rem) / 44.125);
    }
}

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

@supports (gap: clamp( -0.625rem , -1.7581444759rem  +  5.6657223796vw , 1.875rem )) {
    .menu__list {
      gap: clamp( -0.625rem , -1.7581444759rem  +  5.6657223796vw , 1.875rem );
    }
}

@supports not (gap: clamp( -0.625rem , -1.7581444759rem  +  5.6657223796vw , 1.875rem )) {
    .menu__list {
      gap: calc(-0.625rem + 2.5 * (100vw - 20rem) / 44.125);
    }
}

  .menu__item {
    background-color: #fff;
  }

  .menu__link {
    font-size: 13px;
    line-height: 12px;
    letter-spacing: 0.14em;
  }

  .safe__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    gap: 100px;
    margin: 0 -200px;
  }

  .safe__content._watcher-view {
    gap: 0px;
    margin: 0 0px;
  }
}

@media (min-width: 61.99875em) {
  .experts__video {
    padding: 25px 95px;
  }
}

@media (max-width: 768px) {
  .header__content {
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 140px minmax(auto, 726px) 130px 60px;
        grid-template: 1fr/140px minmax(auto, 726px) 130px 60px;
  }
}

@media (max-width: 600px) {
  .experts__video {
    height: 150px;
  }

@supports (height: clamp( 14.375rem , 9.5591359773rem  +  24.0793201133vw , 25rem )) {
    .experts__video {
      height: clamp( 14.375rem , 9.5591359773rem  +  24.0793201133vw , 25rem );
    }
}

@supports not (height: clamp( 14.375rem , 9.5591359773rem  +  24.0793201133vw , 25rem )) {
    .experts__video {
      height: calc(14.375rem + 10.625 * (100vw - 20rem) / 44.125);
    }
}

  .experts__video-image {
    height: 200px;
  }
}

@media (max-width: 370px) {
  .header__logo-text {
    display: none;
  }
}

@media (max-width: 345px) {
  .header__content {
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 10px minmax(10px, 726px) 130px 60px;
        grid-template: 1fr/10px minmax(10px, 726px) 130px 60px;
  }
}

@media (max-width: 61.99875em) {
  .experts__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 35px;
  }

  .experts__video {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 20px;
  }

  .healthcare__decoration-1::before {
    top: 121px;
    left: 260px;
  }

  .healthcare__decoration-2::before {
    top: 321px;
    left: 160px;
  }

  .healthcare__decoration-4::before {
    right: 18px;
  }
}

@media (max-width: 47.99875em) {
  .header__menu {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }

  .menu__body {
    position: absolute;
    height: 100%;
    -webkit-transform: translate(0%, -200%);
        -ms-transform: translate(0%, -200%);
            transform: translate(0%, -200%);
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .page__health {
    padding: 50px 0px 50px 0px;
  }

  .health__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 50px;
  }

  .health__image {
    width: 347px;
    height: 195px;
    margin: 0 auto;
  }

  .health__button {
    margin: 0px 0px 20px 0px;
  }

  .safe__content {
    -webkit-transform: translate(50%, 0px);
        -ms-transform: translate(50%, 0px);
            transform: translate(50%, 0px);
  }

  .safe__content._watcher-view {
    -webkit-transform: translate(0, 0px);
        -ms-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }

@supports (margin-bottom: clamp( 5rem , 4.1501416431rem  +  4.2492917847vw , 6.875rem )) {
    .safe__button {
      margin-bottom: clamp( 5rem , 4.1501416431rem  +  4.2492917847vw , 6.875rem );
    }
}

@supports not (margin-bottom: clamp( 5rem , 4.1501416431rem  +  4.2492917847vw , 6.875rem )) {
    .safe__button {
      margin-bottom: calc(5rem + 1.875 * (100vw - 20rem) / 44.125);
    }
}

@supports (margin-left: clamp( 0.9375rem , -0.6205736544rem  +  7.790368272vw , 4.375rem )) {
    .value__content {
      margin-left: clamp( 0.9375rem , -0.6205736544rem  +  7.790368272vw , 4.375rem );
    }
}

@supports not (margin-left: clamp( 0.9375rem , -0.6205736544rem  +  7.790368272vw , 4.375rem )) {
    .value__content {
      margin-left: calc(0.9375rem + 3.4375 * (100vw - 20rem) / 44.125);
    }
}

@supports (margin-right: clamp( 0.9375rem , -0.6205736544rem  +  7.790368272vw , 4.375rem )) {
    .value__content {
      margin-right: clamp( 0.9375rem , -0.6205736544rem  +  7.790368272vw , 4.375rem );
    }
}

@supports not (margin-right: clamp( 0.9375rem , -0.6205736544rem  +  7.790368272vw , 4.375rem )) {
    .value__content {
      margin-right: calc(0.9375rem + 3.4375 * (100vw - 20rem) / 44.125);
    }
}

  .value__body {
    display: inline-block;
  }
}

@media (max-width: 29.99875em) {
  .image-safe-block__decoration-1::before {
    height: 107px;
    width: 107px;
    top: -33px;
    left: -34px;
  }

  .value__decoration-1::before {
    height: 107px;
    width: 107px;
    top: -33px;
    left: 34px;
  }

  .healthcare__decoration-1::before {
    top: 185px;
    left: 190px;
  }

  .healthcare__decoration-2::before {
    top: 90%;
    left: 0px;
  }

  .healthcare__decoration-3::before {
    bottom: 321px;
    left: 10px;
  }
}

@media (any-hover: hover) {
  .btn:hover {
    background-color: rgb(223, 37, 37);
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  }

  .header__button:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    background-color: rgb(62, 62, 243);
  }

  .experts__video:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.28);
            box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.28);
  }

  .healthcare__google:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.28);
            box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.28);
  }

  .healthcare__app-store:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.28);
            box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.28);
  }

  .healthcare-card__image:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }
}